<div *ngIf="hero">
    <h2> {{hero.alterEgo | uppercase}} ({{hero.name}} {{hero.lastName}}) Details!</h2>

    <div><span>id: </span> {{hero.id}} </div>
    
    <div>
        <label for=""><span>Name: </span>
            <input type="text" [(ngModel)]="hero.name">
        </label>
    </div>
    
    <div>
        <label for=""><span>Last Name: </span>
            <input type="text" [(ngModel)]="hero.lastName">
        </label>
    </div>

    <button (click)="save()">Save</button>
    <button (click)="goBack()">Go back</button>
</div>